@import url("typography.css");

:root {
  --fontFamilyContent: Roboto, Helvetica, Sans-Serif;
  --fontFamilyTitle: "ClashDisplay", Verdana, Sans-Serif;
  --max-content-width: 600px;
  --primary-color: rgb(94, 111, 219);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--fontFamilyContent);
  font-size: 16px;
  line-height: 1.5rem;
}

.layout {
  width: var(--max-content-width);
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

footer {
  margin-block: 100px 40px;
}

ul,
ol {
  margin: 20px 0;
  padding-left: 2ch;
  li:not(first-child) {
    margin-top: 8px;
  }
}
ul {
  list-style-type: "- ";
}

h1,
h2 {
  font-family: var(--fontFamilyTitle);
  font-weight: 200;
  line-height: 1.3em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:visited {
    color: color-mix(in oklch, black 10%, var(--primary-color) 90%);
  }
  &:hover {
    text-decoration: underline;
  }
}
a:visited {
  opacity: 0.1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
